<div>
    <h6 id="page-heading">

        <div class="plusIcon">

            <fa-icon class="glyphicon fa-lg  btn  btn-circle btn-circle-sm m-1" style="color: #5c77ff; " icon="plus" type="button" ngbTooltip="{{'adresse.ngbTooltip.ajout' | translate }}" (click)="update()"></fa-icon>

        </div>




    </h6>
    <!--  test  -->
    <!--  <jhi-alert-error></jhi-alert-error>  -->

    <!-- <jhi-alert></jhi-alert>  -->

    <div class="alert alert-light" id="no-result" *ngIf="emails?.length === 0">
        <span jhiTranslate="email.message.alert">Pas d'emails </span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="emails?.length > 0">
        <table class="table " aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col">
                        <h6>Email </h6>
                    </th>
                    <th scope="col">
                        <h6>Type </h6>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let email of emails ;trackBy: trackId">

                    <td>{{ email.email }}</td>
                    <td>{{ email.emailType }}</td>
                    <td class="text-right">
                        <div class="btn-group">



                            <fa-icon icon="pencil-alt" (click)="update(email)" style="color: #5c77ff;" ngbTooltip="{{'email.ngbTooltip.misAjour' | translate }}" container="body">
                            </fa-icon>
                            &nbsp; &nbsp; &nbsp;


                            <fa-icon icon="trash-alt" (click)="delete(email)" style="color: #5c77ff;"   ngbTooltip="{{'email.ngbTooltip.supprimer' | translate }}" container="body">
                            </fa-icon>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
