@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */

body {
  background-color: white;
}
a {
  color: #007bff;
  font-weight: bold;
}

a:hover {
  color: #007bff;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */

a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */

.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  // color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts {
  .alert {
    text-overflow: ellipsis;

    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }

    .popover pre {
      font-size: 10px;
    }
  }

  .jhi-toast {
    position: fixed;
    width: 100%;

    &.left {
      left: 5px;
    }

    &.right {
      right: 5px;
    }

    &.top {
      top: 55px;
    }

    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */

.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }

    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.upload {
  position: absolute;
  margin-left: 100px;
}

.trash-alt {
  position: absolute;
  margin-left: 150px;
}

.adress-card {
  position: absolute;
  margin-left: 200px;
}

.search {
  position: absolute;
  margin-left: 30%;
}

.filter {
  position: absolute;
  margin-left: 85%;
}

.download {
  position: absolute;
  margin-left: 90%;
}

.plus {
  position: absolute;
  margin-left: 95%;
}

.ng-select .ng-select-container {
  border: none !important ;

  background-color: #f8f9fa !important;
  color: #495057;
  height: 30px !important;
  padding-top: 5px !important;
  box-shadow: none !important;
}

.ng-invalid:not(form) {
  border-bottom: 1px solid red;
  border-left: none !important;
}

input[required] {
  border-left: none;
  border-bottom: 1px solid red;
}

.ng-valid[required],
.ng-valid.required {
  border-left: none;
  border-bottom: 1px solid green;
}

.ng-select.custom1 .ng-select-container {
  border: none !important ;
  background-color: #1963d1 !important;
  color: #f8f9fa !important;
  height: 30px !important;
  box-shadow: none !important;
  border-radius: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  padding-top: 5px;
}
// formulaire finale

.ng-select.customNgSelect {
  width: 100%;
  border: none !important;
}

.ng-select.customNgSelect .ng-select-container {
  background-color: #f5f5f5 !important;
  border: none !important;
  //padding-left: 17px;
  margin-bottom: 15px;
  box-shadow: none !important;
}
