<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="contact.addContact">Nouveau Contact</h4>

    <a  class="close" data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss('closed')">&times;</a>


</div>

<div class="modal-body">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <ng-select formControlName="genre" class="customNgSelect" [items]="genres">


                    </ng-select>

                </div>

            </div>
            <div class="col-sm-8">
                <div class="inner-addon  form-group">

                    <input type="text" formControlName="infoName"
                           class="form-control bg-light " style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.infoName.errors }"
                    />
                    <span class="placeholder" jhiTranslate="profil.nomAsterix">nom <em class="star">*</em> </span>


                    <div *ngIf="submitted && f.infoName.errors" class="invalid-feedback">
                        <div *ngIf="f.infoName.errors.required" jhiTranslate="champ.obligatoire">Ce Champ est
                            Obligatoire
                        </div>
                        <div *ngIf="f.infoName.errors" jhiTranslate="champ.invalide">Ce Champ est Obligatoire</div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="persLastName"
                           class="form-control bg-light"
                           [ngClass]="{ 'is-invalid': submitted && f.persLastName.errors }"/>
                    <span class="placeholder" jhiTranslate="profil.prenomAsterix">Prénom <span
                        class="star">*</span></span>

                    <div *ngIf="submitted && f.persLastName.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.persLastName.errors.required" jhiTranslate="champ.obligatoire">Ce Champ est
                            Obligatoire
                        </div>
                        <div *ngIf="f.persLastName.errors" jhiTranslate="champ.invalide">Ce Champ est Obligatoire</div>

                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="persFonction"
                           class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.persFonction.errors }"
                    />
                    <span class="placeholder" jhiTranslate="profil.fonction">Fonction</span>

                    <div *ngIf="submitted && f.persFonction.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.persFonction.errors.required" jhiTranslate="champ.obligatoire">persFonction is
                            required
                        </div>
                        <div *ngIf="f.persFonction.errors" jhiTranslate="champ.invalide">Champ non valide

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12">
                <div>

                    <ng-select formControlName="compte" class="customNgSelect"
                               [items]=" companies" bindLabel="infoName"
                               bindValue="id"
                               [(ngModel)]="selectedCompany" [virtualScroll]="true">
                        <ng-template ng-footer-tmp>

                            <a (click)="showAccount()">Ajouter Compte</a>
                        </ng-template>
                    </ng-select>

                    <span class="placeholderSelect" jhiTranslate="profil.compte">Département</span>

                </div>
            </div>

            <hr/>
            <p class="ml-5">Adresse</p>
            <hr/>

            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="adresse"
                           class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }"
                    />


                    <span class="placeholder" jhiTranslate="profil.adresse">Département</span>


                    <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                        <div *ngIf="f.adresse.errors.required" jhiTranslate="champ.obligatoire">Adresse is required
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="adresseC"
                           class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.adresseC.errors }"
                    />


                    <span class="placeholder" jhiTranslate="profil.adresseComplementaire">Département</span>


                    <div *ngIf="submitted && f.adresseC.errors" class="invalid-feedback">
                        <div *ngIf="f.adresseC.errors.required" jhiTranslate="champ.obligatoire">Adresse is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="codePostale"
                           class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.codePostale.errors }"
                    />


                    <span class="placeholder" jhiTranslate="profil.codePostale">Département</span>


                    <div *ngIf="submitted && f.codePostale.errors" class="invalid-feedback">
                        <div *ngIf="f.codePostale.errors.required">CodePostale is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div>
                    <ng-select formControlName="pays" class="customNgSelect"
                               [items]="countries" bindLabel="countName"
                               bindValue="id"
                               [(ngModel)]="selectedCity" [virtualScroll]="true"
                               (change)="onSelect()">
                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="profil.pays"> Pays
                    </span>

                </div>
            </div>

            <div class="col-sm-6">
                <ng-select formControlName="ville" class="customNgSelect" [items]="states"
                           bindValue="id" bindLabel="cityName">
                </ng-select>
                <span class="placeholderSelectPays" jhiTranslate="profil.ville"> Ville
                    </span>

            </div>


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="email" class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <span class="placeholder" jhiTranslate="profil.email">Courriel<span class="star">*</span> </span>


                    <div *ngIf="submitted &&  f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required" jhiTranslate="champ.obligatoire">Ce Champ est Obligatoire
                        </div>
                        <div *ngIf="f.email.errors.email" jhiTranslate="champ.invalide">L'adresse email saisie n'est pas
                            valide
                        </div>

                    </div>
                    <div *ngIf="emailerror" class="erroemail">{{emailerrorMsg}}</div>
                </div>
            </div>
            <div class="col-sm-2">


                <p class="codePhone " *ngIf="country" formControlName="codePhone">{{country.codePhone}}</p>

            </div>
            <div class="col-sm-10">
                <div class="inner-addon left-addon form-group">
                    <input type="text" formControlName="mobile"
                           class="form-control bg-light" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                    />

                    <span class="placeholder" jhiTranslate="profil.telephone">Téléphone</span>

                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors" jhiTranslate="champ.obligatoire">Le numéro téléphone saisie n'est
                            pas valide
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary " [disabled]="!f.infoName.valid">

            <span jhiTranslate="profil.ngbTooltip.enregistrerEtNouveau">Enregistrer</span>
        </button>
        <button type="submit" class="btn btn-primary   " (click)="onClickMe()" [disabled]="!f.infoName.valid">
            <span jhiTranslate="profil.ngbTooltip.enregister">Enregistrer</span>
        </button>
        </div>
    </form>


</div>
