.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #116bff;
}
.card-img-top {
  width: 50%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

// color icons
.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}
.fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
}
