<div class="container">
    <div class="row">
        <!--SidebarAccount-->

        <div class="col-md-3">

            <div class="card" style="width: 14rem;">
                <div  class="text-center">
                    <img class="card-img-top  border rounded-circle" src="/content/images/images1.png"
                        alt="Card image cap">

                    <h5 class="text-center">{{company.infoName}} {{company | json}}</h5>


                </div>
                <ul class="list-group ">

                    <li class="list-group-item" href="#" (click)=displayResume() [ngStyle]="{'background-color': buttonColorResume}" type="button" jhiTranslate="activate.resume"></li>
                    <li class="list-group-item" href="#" (click)=displayCoordonne() [ngStyle]="{'background-color': buttonColorCoordonne}" type="button" jhiTranslate="activate.coordonee"></li>
                    <li class="list-group-item" href="#" *ngIf="company.compType !== 'f'"  jhiTranslate="activate.opportunite"> </li>
                    <li class="list-group-item" href="#" *ngIf="company.compType == 'c'" jhiTranslate="activate.projets"></li>
                    <li class="list-group-item" href="#" ><i class="fa fa-user" ></i>  Contacts</li>
                    <li class="list-group-item" href="#" jhiTranslate="activate.communication"></li>
                    <li class="list-group-item" href="#" *ngIf="company.compType !=='p'"> <i class="fa fa-dollar" ></i>  Historique financier</li>
                    <li class="list-group-item" href="#" *ngIf="company.compType !=='p'"><i class="fa fa-bank" ></i>  Banques</li>
                    <li class="list-group-item" href="#" *ngIf="company.compType !=='p'"><i class="fa fa-line-chart" ></i>  Rapports</li>
                    <li class="list-group-item" href="#" jhiTranslate="activate.avance"></li>
                    <li class="list-group-item" href="#"><i class="fa fa-file" ></i>  Attachements</li>
                </ul>
                <div class="card-body">

                </div>
            </div>


        </div>
        <div [hidden]="resume" class=" col-md-6">

            <div id="accordion" style="width: 45rem;">
                <div class="card">

                     <!-- Card header -->
                  <div class="card-header " role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <h6 class="mb-0"  jhiTranslate="activate.profile"  >

                      </h6>
                    </a>
                  </div>



                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <i title="Modifier" class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left:620px" (click)="show()"></i>

                            <div class="row">
                                <div class="col">

                                    <h6><label>Nom:</label><br /></h6>
                                    <h6><label>Forme sociale: </label><br /></h6>
                                    <h6><label>Nbre d'employés: </label><br /></h6>
                                    <h6><label>Date de création: </label><br /></h6>
                                    <h6><label>Type de compte: </label></h6>

                                </div>
                                <div class="col">
                                    <h6><label>  {{company.infoName}}</label><br /></h6>
                                    <h6><label> {{company.compSocForm}}</label><br /></h6>
                                    <h6><label>{{company.compNbEmb}} </label><br /></h6>
                                    <h6><label>{{company.compYearCre}}</label><br /></h6>
                                    <h6><label > {{company.compType}}</label></h6>

                                </div>

                                <div class="col">
                                    <h6><label>Numéro de TVA: </label><br /></h6>
                                    <h6><label>Numéro de SIRET:</label><br /></h6>
                                    <h6><label>Numéro de SIREN: </label><br /></h6>
                                    <h6><label>Numéro de RCS: </label></h6>


                                </div>
                                <div class="col">
                                    <h6><label> {{company.compTva}}</label><br /></h6>
                                    <h6><label> {{company.compSiret}}</label><br /></h6>
                                    <h6><label> {{company.compSiren}}</label><br /></h6>
                                    <h6><label> {{company.compRcs}}</label><br /></h6>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                     <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <h6 jhiTranslate="activate.structureGroupe"  >

                      </h6>
                    </a>
                  </div>


                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            djghkjlkjmlkml;,nbvcxseretuyguhijokpl
                        </div>
                    </div>
                </div>

                <div class="card">

     <!-- Card header -->
     <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseThre"
          aria-expanded="false" aria-controls="collapseThree">
          <h6 jhiTranslate="activate.conditionReglement"  >

          </h6>
        </a>
      </div>



                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingfor">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"  data-target="#collapsefor"
              aria-expanded="false" aria-controls="collapsefor">
              <h6 jhiTranslate="activate.chargeAffaire"  >

              </h6>
            </a>
          </div>


                    <div id="collapsefor" class="collapse" aria-labelledby="headingfor" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>


                <div class="card">




                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingfive">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefive"
                      aria-expanded="false" aria-controls="collapsefive">
                      <h6 class="mb-0" jhiTranslate="activate.commentaires">

                      </h6>
                    </a>
                  </div>

                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- coordonne-->
        <div [hidden]="coordonne" class="col-md-6">

            <div id="accordion" style="width: 45rem;">
                <!-- adress-->
                <div class="card">
                    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          <h6 class="mb-0" jhiTranslate="activate.adresse">

          </h6>
        </a>
      </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                             adresse

                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact tel-->
                <div class="card">
                   <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <h6 class="mb-0" jhiTranslate="activate.tel">

          </h6>
        </a>
      </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <!--  Contact             -->

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <!--  Contact             -->
                                  phones
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Email-->
                <div class="card">
                 <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          <h6 class="mb-0" jhiTranslate="activate.email">

          </h6>
        </a>
      </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            email
                        </div>
                    </div>
                </div>


                <div class="card">

                    <div class="card-header" role="tab" id="headingfor">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefor"
                          aria-expanded="false" aria-controls="collapsefor">
                          <h6 class="mb-0" jhiTranslate="activate.reseau">

                          </h6>
                        </a>
                      </div>


                <div id="collapsefor" class="collapse" aria-labelledby="headingfor" data-parent="#accordion">
                    <div class="card-body">
                         <!--  Resaux sociaux            -->
                     <jhi-profil infoId="{{company.id}}"></jhi-profil>
                </div>
            </div>

            </div>



            </div>
        </div>

    </div>
