<div>
    <h6 id="page-heading">
        <div class="plusIcon">

            <fa-icon class="glyphicon fa-lg  btn  btn-circle btn-circle-sm m-1" style="color: #5c77ff; " icon="plus" type="button" title="{{'adresse.ngbTooltip.ajout' | translate }}" (click)="update()"></fa-icon>

        </div>

    </h6>
    <!--  test  -->
    <!--  <jhi-alert-error></jhi-alert-error>  -->

    <!-- <jhi-alert></jhi-alert>  -->

    <div  id="no-result" *ngIf="profils?.length === 0">
        <span>Pas de Profil </span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profils?.length > 0">
        <table class="table " aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col">Profil</th>
                    <th scope="col">Url</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profil of profils ;trackBy: trackId">

                    <td>{{ profil.profil }}</td>

                    <td> <a href="{{profil.url}}">{{ profil.url }}</a>  </td>
                    <td class="text-right">
                        <div class="btn-group">



                            <fa-icon icon="pencil-alt" (click)="update(profil)" style="color: #5c77ff;" ngbTooltip="{{'profil.ngbTooltip.misAjour' | translate }}" container="body">
                            </fa-icon>
                           &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;
                            <fa-icon icon="trash-alt" (click)="delete(profil)"  style="color: #5c77ff;" ngbTooltip="{{'profil.ngbTooltip.supprimer' | translate }}" container="body">
                            </fa-icon>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
