<form *ngIf="profil" name="deleteForm" (ngSubmit)="confirmDelete(profil?.id!)">
   

    <div class="modal-body">
        
        <jhi-alert-error></jhi-alert-error>
       

        <p jhiTranslate="profil.message.supprimerMsg"> Voulez-vous vraiment supprimer ce reseaux Social ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="profil.message.annuler">Annuler</span>
        </button>

        <button  type="submit"class="btn btn-primary">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="profil.message.confirmer">Confirmer</span>
        </button>
    </div>
</form>
