<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
        <h2 jhiTranslate="profil.title">Resaux sociaux</h2>


        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;
        </button>

    </div>


    <div class="modal-body">

        <div class="form-group ">

            <input type="text" class="form-control bg-light" name="profilUrl" id="field_name"
                   formControlName="profilUrl"
                   [ngClass]="{ 'is-invalid': editForm.get('profilUrl')!.invalid && (editForm.get('profilUrl')!.dirty || editForm.get('profilUrl')!.touched)  }"/>
            <span class="placeholder"> liens</span>
            <div
                *ngIf="editForm.get('profilUrl')!.invalid && (editForm.get('profilUrl')!.dirty || editForm.get('profilUrl')!.touched)">


                <small class="form-text text-danger"
                       *ngIf="editForm.get('profilUrl')?.errors">
                    Url
                </small>

            </div>

        </div>





        <div class="form-group">

            <ng-select formControlName="profilName"
                       [items]="profilType" bindLabel="name"
                       bindValue="name"
                       class="customNgSelect">
                <ng-template ng-label-tmp let-item="item">
                    <i [class]="item.icon"></i>
                    <b>{{item.name}}</b>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <i [class]="item.icon"></i>
                    <b>{{item.name}}</b>
                </ng-template>
            </ng-select>

            <span class="placeholderSelect"> Type</span>


        </div>





    </div>

    <div class="modal-footer">

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
           &nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>

