<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Employées </a> &nbsp;&nbsp;&nbsp;

    <fa-icon class="glyphicon fa-lg upload" icon="upload" [hidden]="!checkedClicked"></fa-icon>
    <fa-icon class="glyphicon fa-lg trash-alt" icon="trash-alt" [hidden]="!checkedClicked"></fa-icon>
    <fa-icon class="glyphicon fa-lg adress-card" icon="address-card" [hidden]="!checkedClicked"></fa-icon>

    <div class="search">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline search-form">
                <div class="input-group form">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><em class="fa fa-search"></em></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </nav>
    </div>

    <fa-icon class="glyphicon fa-lg filter " icon="filter"></fa-icon>
    <fa-icon class="glyphicon fa-lg download " icon="download"></fa-icon>

    <fa-icon class="glyphicon fa-lg plus " icon="plus"></fa-icon>


</nav>
<table class="table ">
    <thead>
        <tr>
            <th><input type="checkbox" (change)="checkAll($event)" /></th>
            <th scope="col"><a role="button" (click)="trier()">Nom <fa-icon [icon]="'sort'"></fa-icon></a></th>
            <th scope="col">Fonction</th>
            <th scope="col">Adresse postale</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Courriel</th>
            <th scope="col">Compte</th>
            <th scope="col">Projet</th>
            <th scope="col"></th>


        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let e of employees| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ;let i=index  ">

            <td><input type="checkbox" (change)="checkOne()" [checked]="allButtonChecked" /></td>
            <td>{{e.persLastName}}</td>
            <td>{{e.persFonction}}</td>


            <ng-container *ngFor="let b of e.personalInfos | slice:0:1 ; let i=index">
                <td *ngIf="i==0">{{b.adr1}}</td>

                <td>
                    <div *ngIf="b.phones">
                        <div class="row" *ngFor="let d of b.phones | slice:0:1; let i=index">
                            <div *ngIf="i==0"> {{d.phoneNumber}}</div>

                        </div>
                    </div>
                </td>

                <td>
                    <div *ngIf="b.emails">
                        <div class="row" *ngFor="let a of b.emails | slice:0:1;  let i=index">
                            <div *ngIf="i==0">{{a.email}}</div>
                        </div>

                    </div>
                </td>




            </ng-container>

            <td> {{e.company.infoName}}</td>
            <td></td>
            <td>
                <em title="Favoris" class="far fa-star"></em>
                <svg title="Favoris" class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                          clip-rule="evenodd"/>
                </svg>
            </td>




        </tr>





    </tbody>

</table>



<div *ngIf="employees?.length > 0">
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" class="ngb">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 éléments par page</option>
          <option [ngValue]="4">4 éléments par page</option>
          <option [ngValue]="6">6 éléments par page</option>
        </select>
    </div>
</div>