<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Contacts</a>
    <fa-icon title="{{'contact.exporter' | translate }}" type="button" class="glyphicon fa-lg upload" icon="upload"
             [hidden]="!checkedClicked"></fa-icon>
    <fa-icon title="{{'contact.supprimer' | translate }}" type="button" class="glyphicon fa-lg trash-alt"
             icon="trash-alt" [hidden]="!checkedClicked" (click)="delete()"></fa-icon>
    <fa-icon title="{{'contact.assigne' | translate }}" type="button" class="glyphicon fa-lg adress-card"
             icon="address-card" [hidden]="!checkedClicked"></fa-icon>

    <nav class="navbar navbar-light bg-light">

        <div class="input-group form">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary"><em class="fa fa-search"></em></button>
            </div>
            <input type="text" [(ngModel)]="beansFilter"
                   (ngModelChange)="filterAndSortBeans()" class="form-control">

        </div>

    </nav>


    <fa-icon title="{{'contact.filtrer' | translate }}" type="button" class="glyphicon fa-lg filter "
             icon="filter"></fa-icon>
    <fa-icon title="{{'contact.exporter' | translate }}" type="button" class="glyphicon fa-lg download "
             icon="download"></fa-icon>

    <fa-icon title="{{'contact.nouveau' | translate }}" type="button" class="glyphicon fa-lg plus " icon="plus"
             (click)="show()"></fa-icon>


</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"    >Contacts</a> &nbsp;

    <fa-icon class="glyphicon fa-lg upload" icon="upload" [hidden]="true"></fa-icon>
    <fa-icon class="glyphicon fa-lg trash-alt" icon="trash-alt" ngbTooltip
        ="{{'contact.supprimer' | translate }}" [hidden]="!checkedClicked" (click)="delete()"></fa-icon>
    <fa-icon class="glyphicon fa-lg adress-card" icon="address-card" [hidden]="true"></fa-icon>

    <div class="search">
        <div class="input-group form has-search">
            <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
            <input type="text" [(ngModel)]="beansFilter" (ngModelChange)="filterAndSortBeans()" class="form-control" placeholder="        Search...">
        </div>

    </div>
    <div class="plusIcon">

      <fa-icon class="glyphicon fa-lg  btn btn-primary btn-circle btn-circle-sm m-1" icon="plus" type="button" ngbTooltip="{{'contact.nouveau' | translate }}" (click)="show()"></fa-icon>

    </div>




</nav>


<table class="table ">

    <thead>
    <tr jhiSort predicate="persLastName" [(ascending)]="NamesAscending" [callback]="SortName.bind(this)">
        <th><input type="checkbox" (change)="checkAll($event)"/></th>
        <th jhiSortBy="persLastName" scope="col" jhiTranslate="contact.nom"><span> </span>
            <fa-icon [icon]="'sort'"></fa-icon>
        </th>
        <th scope="col" jhiTranslate="contact.fonction"></th>
        <th scope="col" jhiTranslate="contact.adressepostale"></th>
        <th scope="col" jhiTranslate="contact.téléphone"></th>
        <th scope="col" jhiTranslate="contact.courriel"></th>
        <th scope="col" jhiTranslate="contact.estcontact"></th>


    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let c of beans  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  ;let i=index ">

        <td><input type="checkbox" (change)="checkOne()" [checked]="allButtonChecked"
                   (click)="remove($event,i,trackId(i,c) )"/></td>
        <td><a [routerLink]="[ '/mycontact/contactDetails',c.id]">{{c.infoName}} {{c.persLastName}}</a></td>

        <td>{{c.perFonction}}</td>
        <td>{{c.adresses[0]?.adr1}}, {{c.adresses[0]?.city?.cityName}} ,{{c.adresses[0]?.city?.country?.countName}}</td>


        <td>{{c.phones[0]?.phoneNumber}}</td>
        <td>{{c.emails[0]?.email}}</td>

        <td> {{c.company?.infoName}}</td>


        <!--<td>
            <em title="Favoris" class="far fa-star"></em>
            <svg title="Favoris" class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                      clip-rule="evenodd"/>
            </svg>
        </td>-->

    </tr>


    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>


    </tr>


    </tbody>

</table>

<div *ngIf="beans?.length > 0">
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" class="ngb">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 <a jhiTranslate="compte.element"></a></option>
            <option [ngValue]="20">20 <a jhiTranslate="compte.element"></a></option>
            <option [ngValue]="50">50 <a jhiTranslate="compte.element"></a></option>
        </select>
    </div>
</div>



