
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"    >Contracts</a> &nbsp;
    


</nav>

<div class="table-responsive" class="table-responsive" id="opportunities" *ngIf="contracts?.length > 0">
<table  class="table " aria-describedby="page-heading">
    
    <thead>
        <th></th>    
        <th>N</th>    
        <th>Nom </th>    
        <th>Compte </th>    
        <th>Contact </th>    
        <th>Date Echeance</th>
        <th> Etat</th>
    </tr>
    </thead>
    <tbody>

    
        <tr *ngFor="let contract of contracts  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  ;let i=index ">
            <td><input type="checkbox"/></td>
           
          
           <td> {{contract?.contractRef}}</a></td>
		   <td>{{ contract?.contractName}}</td>
            <td>{{contract?.contact?.contactName}}</td>
            <td>{{contract?.company?.compName}}</td>
            <td>{{contract?.contractEndDate}}</td>
            <td>{{contract?.contractStatus}}</td>
            <td></td>
        </tr>


      


    </tbody>

</table>
</div>











