<div class="modal-header">
    <h4 *ngIf="create" class="modal-title" jhiTranslate="opportunity.add">Nouvelle opportunité</h4>
    <h4 *ngIf="!create" class="modal-title">{{opportunityName}}</h4>
    <a data-dismiss="modal" class="close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </a>
</div>
<jhi-alert-error></jhi-alert-error>
<div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Nom de opportunite -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="nom" style="box-shadow : none ;"
                           class="form-control bg-light "
                           [ngClass]="{ 'is-invalid': isSaving && f.nom.errors }"

                    />

                    <span class="placeholder" jhiTranslate="opportunity.name">Nom opportunité<span class="star">*</span></span>
                    <div *ngIf="isSaving && f.nom.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required" jhiTranslate="champ.obligatoire">Ce Champ est
                            Obligatoire
                        </div>
                        <div *ngIf="f.nom.errors" jhiTranslate="champ.invalide">Ce Champ est Obligatoire</div>

                    </div>


                </div>

            </div>

            <!-- Montant de opportunite -->

            <div class="col-sm-9" style="padding-right: 0px;">
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="montant"
                           class="form-control bg-light " style="box-shadow : none ;"

                           [(ngModel)]="byFirst" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                           (keyup)="multiplication()"/>

                    <span class="placeholder" jhiTranslate="opportunity.price">Montant<span class="star">*</span></span>

                    <div *ngIf="isSaving && f.montant.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.montant.errors.required" jhiTranslate="champ.obligatoire">persFonction is
                            required
                        </div>
                        <div *ngIf="f.montant.errors" jhiTranslate="champ.invalide">Champ non valide

                        </div>
                    </div>


                </div>

            </div>

            <!-- Currency -->

            <div class="col-sm-3" style="padding-left: 0px;">
                <div class="inner-addon  form-group  ">
                    <ng-select formControlName="currency" class="custom1" [items]="currencies"
                               bindLabel="currName" bindValue="id"
                               [virtualScroll]="true">

                    </ng-select>
                    <span class="placeholderSelectCurency" jhiTranslate="opportunity.currency"> Devise</span>
                </div>

            </div>


            <!-- compte -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <ng-select formControlName="compte" class="customNgSelect" [items]="companies"
                               bindLabel="compName" bindValue="id" [(ngModel)]="selectedCompte"
                               [virtualScroll]="true">
                    </ng-select>

                    <span class="placeholderSelect" jhiTranslate="opportunity.compte">Compte <span
                        class="star">*</span></span>


                    <div *ngIf="isSaving && f.compte.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.compte.errors.required" jhiTranslate="champ.obligatoire">persFonction is
                            required
                        </div>
                        <div *ngIf="f.compte.errors" jhiTranslate="champ.invalide">Champ non valide

                        </div>
                    </div>


                </div>

            </div>


            <!-- date de Cloture -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <input type="date" formControlName="dateCloture"
                           class="form-control bg-light " style="height:48px;"/>


                    <span class="placeholder" jhiTranslate="opportunity.dateEnd">Date clôture</span>
                </div>

            </div>


            <!-- Contact -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">


                    <ng-select
                        formControlName="contact" class="customNgSelect" [items]="contacts"
                        bindLabel="infoName" bindValue="id"

                        [virtualScroll]="true"
                    >
                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="opportunity.contact">Contact</span>


                </div>

            </div>


            <!--Type-->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <ng-select formControlName="typeOpportunite" class="customNgSelect" [items]="types"
                               bindLabel="name" bindValue="name">
                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="opportunity.type">Type</span>


                </div>

            </div>


            <!-- origineProspect -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group " style="margin-top: 15px;">

                    <input type="text" formControlName="origineProspect"
                           class="form-control bg-light " style="height:48px;box-shadow: none;"/>

                    <span class="placeholder" jhiTranslate="opportunity.origineProspect">Origine du prospect</span>

                </div>

            </div>

            <!-- etape -->

            <div class="col-sm-12" style="margin-top: 15px;">
                <div class="inner-addon  form-group ">

                    <ng-select formControlName="etape" class="customNgSelect" [items]="stages"
                               bindLabel="stageName" [(ngModel)]="selectedStage"
                               [virtualScroll]="true" (change)="addprobability()">
                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="opportunity.etape">Étape<span
                        class="star">*</span></span>

                    <div *ngIf="isSaving && f.etape.errors"
                         class="invalid-feedback">
                        <div *ngIf="f.etape.errors.required" jhiTranslate="champ.obligatoire">persFonction is
                            required
                        </div>
                        <div *ngIf="f.etape.errors" jhiTranslate="champ.invalide">Champ non valide

                        </div>
                    </div>


                </div>

            </div>

            <!--chiffreAffaire -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="chiffreAffaire"
                           class="form-control bg-light "
                           [(ngModel)]="byResult" pattern="[-+]?[0-9]*[.,]?[0-9]+" minlength="1"
                           style="height:48px;box-shadow: none;"
                    />

                    <span class="placeholder" jhiTranslate="opportunity.turnover">Chiffre d'affaire</span>
                </div>

            </div>

            <!--Probabilite -->

            <div class="col-sm-12">
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="probabilite"
                           class="form-control bg-light " style="height:48px;box-shadow: none;"

                           [(ngModel)]="probabilte"
                           (keyup)="multiplication()"/>

                    <span class="placeholder" jhiTranslate="opportunity.probability">Probabilité</span>

                </div>

            </div>


        </div>


        <!--Raison de Perte -->
        <div *ngIf="!create">
            <div class="col-sm-14">
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="raisonDePerte"
                           class="form-control bg-light " style="height:48px;box-shadow: none;"/>
                    <span class="placeholder" jhitranslate="opportunity.failCause">Raison de perte</span>


                </div>

            </div>

        </div>


        <div *ngIf="create">
            <button type="submit" style="margin-left: 170px; " class="btn btn-primary " [disabled]="!f.nom.valid">
                Enregistrer et nouveau
            </button>

            <button type="submit" class="btn btn-primary" (click)="onClickMe()" [disabled]="!f.nom.valid  ">Enregister
            </button>

        </div>

        <div *ngIf="!create">
            <div class="modal-footer">


                <button type="submit" id="save-entity" (click)="onClickMe()" class="btn btn-primary">
                    Enregistrer
                </button>
            </div>

        </div>
    </form>

</div>
