<div class="container">
    <div class="row">
        <!--SidebarAccount-->

        <div class="col-md-3">
            <div class="card" style="width: 14rem;">
                <div class="text-center">
                    <img class="card-img-top " src="/content/images/lampe.png" alt="Card image cap"/>

                    <h5 class="text-center">{{opportunity.oppName}}</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" href="#" (click)="displayResume()"
                        [ngStyle]="{'background-color': buttonColorResume}" type="button"
                    >
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="activate.resume"></span>

                    </li>


                    <li class="list-group-item" href="#" (click)="displayCoordonne()"
                        [ngStyle]="{'background-color': buttonColorCoordonne}" type="button"
                    >
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="activate.contacts"></span>


                    </li>


                    <li class="list-group-item" href="#" type="button"  >
                        <fa-icon icon="clock"></fa-icon>
                        <span jhiTranslate="activate.echancier"></span>

                    </li>
                    <li class="list-group-item" href="#" type="button"    >

                        <fa-icon icon="paperclip"></fa-icon>
                        <span jhiTranslate="activate.attachements"></span>
                    </li>
                </ul>

            </div>
        </div>
        <div [hidden]="resume" class="col-md-9">

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="opportunity.informationOpportunity">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <fa-icon icon="pencil-alt" aria-hidden="true"
                                 style="margin-left:650px ; cursor: pointer;" (click)="update(opportunity)"
                                 title="Modifier" data-toggle="tooltip"></fa-icon>


                        <div class="container">

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.name">Nom:</label></div>
                                <div class=" col-md-3"><label>{{opportunity?.oppName}}</label></div>
                                <div class=" col-md-3"><label class="labeldetail"
                                                              jhiTranslate="opportunity.detail.price">Montant:</label>
                                </div>
                                <div class="  col-md-3"><label>{{opportunity?.oppValue}}</label></div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.account">Nom
                                    de compte:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.company?.compName}}</label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.endDate">Date
                                    de clôture:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.projEndate}}</label></div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.accountType"> Type de
                                    compte:</label></div>
                                <div class="col-md-3"><label> Client </label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.endDate2">Date
                                    de clôture prévue:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.projEndate}} </label></div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.contact">Nom
                                    de contact: </label></div>
                                <div class="col-md-3"><label>{{opportunity?.contact?.infoName}}</label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.stage">Étape:</label>
                                </div>
                                <div class="col-md-3"><label>{{opportunity?.stage?.stageName}}</label></div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.prospectOrigin">Origine du
                                    prospect:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.oppLeadOrigin}}</label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.probability">Probabilité:</label>
                                </div>
                                <div class="col-md-3"><label>{{opportunity?.stage?.stageProbability}}</label></div>

                            </div>


                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.created">Créé
                                    le:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.createdAt}}</label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.turnover">Chiffre
                                    d'affaire:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.oppTurnover}} </label></div>

                            </div>


                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.updated">Modifiée
                                    le: </label></div>
                                <div class="col-md-3"><label>{{opportunity?.updatedAt}}</label></div>
                                <div class="col-md-3"><label class="labeldetail"
                                                             jhiTranslate="opportunity.detail.failCause">Raison de
                                    perte:</label></div>
                                <div class="col-md-3"><label>{{opportunity?.oppPertCause}}</label></div>

                            </div>


                        </div>


                    </ng-template>
                </ngb-panel>


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0"> Pipeline

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                    </ng-template>
                </ngb-panel>


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="opportunity.historiqueDesEtapes">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                    </ng-template>
                </ngb-panel>


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.commentaires">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                    </ng-template>
                </ngb-panel>


            </ngb-accordion>


            <!-- coordonne-->
            <div [hidden]="coordonne" class="col-md-6">

            </div>
        </div>
    </div>
