<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  jhiTranslate="compte.compte">Comptes</a>

    <fa-icon title="{{'compte.exporter' | translate }}" type="button" class="glyphicon fa-lg upload" name="exporter" icon="upload" [hidden]="!checkedClicked" (click)="downloadCSV()"></fa-icon>
    <fa-icon title="{{'compte.supprimer' | translate }}" type="button" class="glyphicon fa-lg trash-alt" icon="trash-alt" [hidden]="!checkedClicked" (click)="delete()"></fa-icon>
    <fa-icon title="{{'compte.assigne' | translate }}" type="button" class="glyphicon fa-lg adress-card " icon="address-card" [hidden]="!checkedClicked"></fa-icon>

    <div class="search">


        <nav class="navbar navbar-light bg-light">
            <form class="form-inline search-form">
                <div class="input-group form">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><em class="fa fa-search"></em></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </nav>
    </div>
    <fa-icon title="{{'compte.filtrer' | translate }}" type="button" class="glyphicon fa-lg filter " icon="filter"></fa-icon>
    <fa-icon title="{{'compte.importer' | translate }}" type="button" class="glyphicon fa-lg download " icon="download"></fa-icon>

    <fa-icon title="{{'compte.nouveau' | translate }}" type="button" class="glyphicon fa-lg plus " icon="plus" (click)="show()"></fa-icon>

</nav>
<table class="table">
    <caption></caption>
    <thead>
        <tr jhiSort predicate="infoName" [(ascending)]="NamesAscending" [callback]="SortName.bind(this)">
            <th><input type="checkbox" (change)="checkAll($event)" /></th>
            <th jhiSortBy="infoName" scope="col" jhiTranslate="compte.nom">
                <fa-icon [icon]="'sort'"></fa-icon>
            </th>
            <th scope="col" jhiTranslate="compte.type"></th>
            <th scope="col" jhiTranslate="compte.adressepostale"></th>
            <th scope="col" jhiTranslate="compte.téléphone"></th>
            <th scope="col" jhiTranslate="compte.courriel"></th>
            <th scope="col"></th>


        </tr>
    </thead>
    <tbody>

        <ng-container *ngFor="let c of companies  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ;let i=index">
            <tr>


                <td><input type="checkbox" (change)="checkOne()" [checked]="allButtonChecked" (click)="remove($event,i,trackId(i,c) )" /></td>
                <td><a href=" myaccount/accountdetails/{{c.id}}">{{c.infoName}}</a></td>
                <td *ngIf="(c.compType == 'c')">Client</td>
                <td *ngIf="(c.compType == 'p')">Prospect</td>
                <td *ngIf="(c.compType == 'f')">Fournisseur</td>
                <td *ngIf="(c.compType == null )"></td>

                <td>{{c.adresses[0]?.adr1}}</td>
                <td>{{c.phones[0]?.phoneNumber}}</td>
                <td>{{c.emails[0]?.email}}</td>

            </tr>


        </ng-container>

        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>


    </tbody>
</table>

<div *ngIf="companies?.length > 0">
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" class="ngb">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 <a jhiTranslate="compte.element"></a></option>
            <option [ngValue]="20">20 <a jhiTranslate="compte.element"></a></option>
            <option [ngValue]="50">50 <a jhiTranslate="compte.element"></a></option>
        </select>
    </div>
</div>
