<div class="modal-header">
    <h4 class="modal-title">{{EditCompany.infoName}}</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button"
            (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="compteForm" (ngSubmit)="save()">
        <div class="row">
            <!--Company-->
            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="user"></fa-icon>
                    <input type="text" formControlName="infoName" class="form-control bg-light "
                           [ngClass]="{ 'is-invalid': submitted && f.infoName.errors }" placeholder="Nom du compte "/>


                    <div *ngIf="f.infoName!.invalid" class="invalid-feedback">
                        <div *ngIf="f.infoName?.errors?.required">Ce Champ est Obligatoire</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="id-card"></fa-icon>
                    <input type="text" formControlName="compTva" class="form-control bg-light"
                           [ngClass]="{ 'is-invalid': submitted && f.compTva.errors}"
                           placeholder="Numéro de TVA "/>
                    <div *ngIf="f.compTva!.invalid" class="invalid-feedback">
                        <div *ngIf="f.compTva?.errors?.required">
                            Ce champ est obligatoire.
                        </div>
                    </div>
                    <div *ngIf="tvaerror" class="errortva">Numéro TVA existe deja</div>


                </div>

            </div>
            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <input type="text" formControlName="URL" class="form-control bg-light "
                           placeholder="Site web "/>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="id-card"></fa-icon>
                    <input type="text" formControlName="compSiren" class="form-control bg-light"
                           placeholder="Numéro Siren"/>
                    <div *ngIf="f.compSiren!.invalid" class="invalid-feedback">

                    </div>
                </div>
            </div>
            <!--Company-->
            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <input type="text" formControlName="compSocForm" class="form-control bg-light "
                           placeholder="Forme sociale "/>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="id-card"></fa-icon>
                    <input type="text" formControlName="compSiret" class="form-control bg-light"
                           placeholder="Numéro Siret"/>
                    <div *ngIf="f.compSiret!.invalid" class="invalid-feedback">

                    </div>
                </div>
            </div>
            <!--Company-->
            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <input type="text" formControlName="compNbEmp" class="form-control bg-light "

                           placeholder="Nombre d'employé "/>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="id-card"></fa-icon>
                    <input type="text" formControlName="compRcs" class="form-control bg-light"
                           placeholder="Numéro de RCS "/>
                    <div *ngIf="f.compRcs!.invalid" class="invalid-feedback">

                    </div>
                </div>
            </div>


            <div class="col-sm-6" *ngIf="EditCompany.compType =='c'">
                <div class="inner-addon left-addon form-group">

                    <ng-select formControlName="compType" class="custom bg-light" [items]="company"
                               bindLabel="name" placeholder="Client" bindValue="compType"
                               [(ngModel)]="selectedType" [virtualScroll]="true">

                    </ng-select>
                </div>
            </div>


            <div class="col-sm-6" *ngIf="EditCompany.compType =='p'">
                <div class="inner-addon left-addon form-group">
                    <ng-select formControlName="compType" class="custom bg-light" [items]="company"
                               bindLabel="name" placeholder="Prospect" bindValue="compType"
                               [(ngModel)]="selectedType" [virtualScroll]="true">

                    </ng-select>
                </div>
            </div>


            <div class="col-sm-6" *ngIf="EditCompany.compType =='f'">
                <div class="inner-addon left-addon form-group">
                    <ng-select formControlName="compType" class="custom bg-light" [items]="company"
                               bindLabel="name" placeholder="Fournisseur" bindValue="compType"
                               [(ngModel)]="selectedType" [virtualScroll]="true">

                    </ng-select>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="EditCompany.compType ==null">
                <div class="inner-addon left-addon form-group">
                    <ng-select formControlName="compType" class="custom bg-light" [items]="company"
                               bindLabel="name" placeholder="Type du compte" bindValue="compType"
                               [(ngModel)]="selectedType" [virtualScroll]="true">

                    </ng-select>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <fa-icon class="glyphicon" icon="calendar-alt"></fa-icon>
                    <input type="text" formControlName="compYearCre" class="form-control bg-light "
                           placeholder="Année de création "/>

                    <div *ngIf="f.infoName!.invalid" class="invalid-feedback">

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="inner-addon left-addon form-group">
                    <ng-select formControlName="activity" class="custom bg-light" [items]="activities"
                               bindLabel="actiAreaName" placeholder="Secteur d'activité" bindValue="id"
                               [virtualScroll]="true">
                    </ng-select>

                </div>
            </div>


        </div>
        <div style="height: 10px;"></div>

        <button style="margin-left: 370px" type="submit" class="btn btn-primary   " (click)="onClickMe()"
                [disabled]="!f.infoName.valid">Enregister
        </button>


    </form>
    <div style="height: 30px;"></div>
</div>

