
<div class="card" style="width: 14rem;">
<img class="card-img-top rounded-circle" src="/content/images/crmMan.png" alt="Card image cap" style="size: 30px" >
<div class="card-body">
    <h5 class="card-title">Nom du compte</h5>

</div>
<ul class="list-group ">
    <li class="list-group-item" href="#">Resumé</li>
    <li class="list-group-item" href="#">Coordonnés</li>
    <li class="list-group-item" href="#">oppportunités</li>
    <li class="list-group-item" href="#">Projet</li>
    <li class="list-group-item" href="#">Contacts</li>
    <li class="list-group-item" href="#">Communication</li>
    <li class="list-group-item" href="#">Historique financier</li>
    <li class="list-group-item" href="#">Banques</li>
    <li class="list-group-item" href="#">Rapports</li>
    <li class="list-group-item" href="#">Avanacé</li>
    <li class="list-group-item" href="#">Rapports</li>
    <li class="list-group-item" href="#">Attachements</li>
</ul>
<div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
</div>
</div>
