<div class="container">
    <div class="row">
        <!--SidebarAccount-->

        <div class="col-md-3">
            <div class="card" style="width: 14rem;">
                <div class="text-center">
                    <img class="card-img-top border rounded-circle" src="/content/images/images1.png" alt="Card image cap" />

                    <h5 class="text-center">{{opportunity.oppName}}</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" href="#" (click)="displayResume()" [ngStyle]="{'background-color': buttonColorResume}" type="button" jhiTranslate="projet.resume" >Résumé</li>
                    <li class="list-group-item" href="#"  type="button" jhiTranslate="projet.contrat" >Contracts</li>
                    <li class="list-group-item" href="#"   type="button" jhiTranslate="projet.facture">Factures</li>
                    <li class="list-group-item" href="#"  type="button" jhiTranslate="projet.contact">Contacts</li>
                    <li class="list-group-item" href="#"  type="button" jhiTranslate="projet.avancement">Avancement</li>
                    <li class="list-group-item" href="#"  type="button" jhiTranslate="projet.rapport">Rapports</li>
                    <li class="list-group-item" href="#"  type="button" jhiTranslate="projet.attachement">Attachements</li>
                </ul>

            </div>
        </div>
        <div [hidden]="resume" class="col-md-6">
            <div id="accordion" style="width: 45rem;">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne" >
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6 jhiTranslate="projet.infoProjet"  class="mb-0" > <i class='fas fa-angle-down rotate-icon pull-right' ></i></h6>
                        </a>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <button type="submit" title="{{'projet.modifier' | translate }}" (click)="update(opportunity)"

                                    class="btn  btn-sm" style="margin-left: 620px;">
                                <fa-icon icon="pencil-alt" ></fa-icon>

                            </button>

                            <div class="row">
                                <div class="col">
                                    <h6><label jhiTranslate="projet.nom">Nom:</label></h6>
                                    <h6><label jhiTranslate="projet.nomCompte">Nom de compte: </label></h6>
                                    <h6><label jhiTranslate="projet.deteDebut">Date de début: </label></h6>
                                    <h6><label jhiTranslate="projet.dateCloture">Date de cloture: </label></h6>
                                    <h6><label jhiTranslate="projet.cree">Créé le: </label></h6>
                                    <h6><label jhiTranslate="projet.modifier">Modifié le: </label></h6>
                                </div>
                                <div class="col">
                                    <h6><label> {{opportunity?.oppName}}</label></h6>
                                    <h6><label> {{opportunity?.company?.compName}}</label></h6>
                                    <h6><label>{{opportunity?.projStartdate}} </label></h6>
                                    <h6><label>{{opportunity?.projEndate}}</label></h6>
                                    <h6><label>{{opportunity?.createdAt}} </label></h6>
                                    <h6><label>{{opportunity?.updatedAt}} </label></h6>

                                </div>

                                <div class="col">
                                    <h6><label jhiTranslate="projet.priorite">Priorité: </label></h6>
                                    <h6><label jhiTranslate="projet.etat">Etat:</label></h6>
                                    <h6><label jhiTranslate="projet.prfil">Profil: </label></h6>
                                    <h6><label jhiTranslate="projet.deteEcheance">Date d'écheance: </label></h6>
                                    <h6><label jhiTranslate="projet.montant">Montant: </label></h6>

                                </div>
                                <div class="col">
                                    <h6><label> {{opportunity?.projPriority}}</label> </h6>
                                    <h6><label> {{opportunity?.stage?.stageName}}</label> </h6>
                                    <h6><label> {{opportunity?.oppClosedate}}</label> </h6>
                                    <h6><label> {{opportunity?.projEndate}}</label> </h6>
                                    <h6><label> {{opportunity?.projOpp}}{{opportunity?.currency?.currName}}</label> </h6>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h6 jhiTranslate="projet.phaseProjet"><i class='fas fa-angle-down rotate-icon pull-right' ></i> Phase du projet</h6>
                        </a>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Phase du projet
                        </div>
                    </div>
                </div>

                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThre" aria-expanded="false" aria-controls="collapseThree">
                            <h6 jhiTranslate="projet.chargeAffaire"><i class='fas fa-angle-down rotate-icon pull-right' ></i> Chargé d'affaire</h6>
                        </a>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Etape
                        </div>
                    </div>
                </div>


                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingfive">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            <h6 class="mb-0" jhiTranslate="activate.commentaires"></h6>
                        </a>
                    </div>

                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            Commentaires
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- coordonne-->
        <div [hidden]="coordonne" class="col-md-6">

        </div>
    </div>
</div>
