/* Styles go here */

div {
  position: relative;
}

h1 {
  font-family: helvetica;
}
.ml-5 {
  word-wrap: break-word;
}

label {
  position: absolute;
  left: 2px;
  top: 1px;
  color: gray;
  font-size: 12px;
  opacity: 0;
  transition: top 0.4s, opacity 0.2s;
  font-family: helvetica;
}

.modal {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 90px;
  height: 620px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding-left: 6px;
  padding-top: 7px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.codePhone {
  margin-left: 30px;
  display: block;
  height: 30px;
  font-size: 16px;
  border: none;
  color: #2196f3;
  outline: none;
  border-bottom: 1px solid#2196f3;
}

.save-changes[disabled] {
  cursor: not-allowed !important;
}

.errortva {
  font-size: 80%;
  color: #dc3545;
}

.placeholder {
  position: absolute;
  font-size: 11px;
  pointer-events: none;
  left: 1px;
  top: 1px;

  transition: 0.1s ease all;
  color: #2196f3;
  .star {
    color: red;
  }
}
input {
  border: none;

  padding-top: 25px;
  font-size: 16px;
}
input[type='date'] {
  border: none;

  padding-top: 15px;
  font-size: 16px;
}

.ng-select.custom {
  font-size: 14px;
}
.placeholderSelect {
  position: absolute;

  font-size: 11px;
  pointer-events: none;
  left: 2px;
  top: -3px;

  transition: 0.1s ease all;
  color: #2196f3;
}

.placeholderSelectPays {
  position: absolute;

  font-size: 11px;
  pointer-events: none;

  top: -3px;

  transition: 0.1s ease all;
  color: #2196f3;
}
