<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
        <h2 >{{editForm.get(['infoName'])!.value}} {{editForm.get(['persLastName'])!.value}}</h2>


        <a  class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</a>

    </div>


    <div class="modal-body">

        <div class="row">
            <!-- infoName -->

            <div class="col-sm-12">

                <div class="form-group ">


                    <input type="text" class="form-control bg-light" name="infoName" formControlName="infoName"
                           style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': editForm.get('infoName')!.invalid && (editForm.get('infoName')!.dirty || editForm.get('infoName')!.touched)  }"
                    />
                    <span class="placeholder" jhiTranslate="profil.nomAsterix">nom <em class="star">*</em> </span>
                    <div
                        *ngIf="editForm.get('infoName')!.invalid && (editForm.get('infoName')!.dirty || editForm.get('infoName')!.touched)">


                        <small class="form-text text-danger" *ngIf="editForm.get('infoName')?.errors"
                               jhiTranslate="champ.obligatoire">
                            merci de saisir un Nom
                        </small>

                    </div>

                </div>
            </div>

            <!-- persLastName -->
            <div class="col-sm-12">
                <div class="form-group ">

                    <input type="text" class="form-control bg-light" name="persLastName" formControlName="persLastName"
                           style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': editForm.get('persLastName')!.invalid && (editForm.get('persLastName')!.dirty || editForm.get('persLastName')!.touched)  }"
                    />
                    <span class="placeholder" jhiTranslate="profil.prenomAsterix">Prénom <span
                        class="star">*</span></span>
                    <div
                        *ngIf="editForm.get('persLastName')!.invalid && (editForm.get('persLastName')!.dirty || editForm.get('persLastName')!.touched)">


                        <small class="form-text text-danger" *ngIf="editForm.get('persLastName')?.errors"
                               jhiTranslate="champ.obligatoire">
                            merci de saisir un Prénom
                        </small>

                    </div>

                </div>
            </div>

            <!--persFonction-->

            <div class="col-sm-12">
                <div class="form-group ">


                    <input type="text" class="form-control bg-light" name="perFonction" formControlName="persFonction"
                           style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': editForm.get('persFonction')!.invalid && (editForm.get('persFonction')!.dirty || editForm.get('persFonction')!.touched)  }"
                    />
                    <span class="placeholder" jhiTranslate="profil.fonction">Fonction</span>
                    <div
                        *ngIf="editForm.get('persFonction')!.invalid && (editForm.get('persFonction')!.dirty || editForm.get('persFonction')!.touched)">


                        <small class="form-text text-danger" *ngIf="editForm.get('persFonction')?.errors" jhiTranslate="champ.invalide">
                            Saisir la fonction
                        </small>

                    </div>

                </div>
            </div>

            <!-- departement -->

            <div class="col-sm-12">
                <div class="form-group ">

                    <input type="text" class="form-control bg-light" name="persDepartement"
                           formControlName="persDepartement" style="box-shadow : none ;"
                           [ngClass]="{ 'is-invalid': editForm.get('persDepartement')!.invalid && (editForm.get('persDepartement')!.dirty || editForm.get('persDepartement')!.touched)  }"
                    />
                    <span class="placeholder" jhiTranslate="profil.departemnt">Département</span>
                    <div
                        *ngIf="editForm.get('persDepartement')!.invalid && (editForm.get('persDepartement')!.dirty || editForm.get('persDepartement')!.touched)">


                        <small class="form-text text-danger" *ngIf="editForm.get('persDepartement')?.errors">
                            Département
                        </small>

                    </div>

                </div>
            </div>


            <!-- personBirthDate  -->

            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="date" class="form-control bg-light" name="personBirthDate" style="box-shadow : none ;"
                           formControlName="personBirthDate"/>

                    <span class="placeholder" jhiTranslate="profil.naissance">Date de naissance</span>

                </div>

            </div>


            <!-- compte-->


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <ng-select formControlName="companyName" class="customNgSelect"
                               [items]="companies" bindLabel="infoName"
                               bindValue="id" >
                        <ng-template ng-footer-tmp>

                            <a>Ajouter Compte</a>
                        </ng-template>
                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="profil.compte"> Entreprise</span>
                </div>
            </div>


            <!--leadOrigin-->


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <ng-select formControlName="contactLeadOrigin" class="customNgSelect"
                               [items]="originProspects" bindLabel="name"
                               bindValue="name">

                    </ng-select>
                    <span class="placeholderSelect" jhiTranslate="profil.prospect">Origine de Prospect</span>
                </div>
            </div>


        </div>


    </div>

    <div class="modal-footer">


        <button type="submit" id="save-entity" [disabled]="editForm.invalid " class="btn btn-primary">
           <span jhiTranslate="profil.ngbTooltip.enregister">Enregistrer</span>
        </button>
    </div>
</form>
