<form *ngIf="email" name="deleteForm" (ngSubmit)="confirmDelete(email?.id!)">

    <div class="modal-body">

        <!-- <jhi-alert-error></jhi-alert-error>-->

        <p jhiTranslate="email.message.supprimerMsg"> Voulez-vous vraiment supprimer ce email ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="email.message.annuler">Annuler</span>
        </button>

        <button id="jhi-confirm-delete-Phone" type="submit" class="btn btn-primary">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="email.message.confirmer">Confirmer</span>
        </button>
    </div>
</form>