<div>
    <i class="fas fa-home fa-lg" > </i>


    <h5 jhiTranslate="listProjet.titre"> {{toBeDeleted.length}} </h5>
    <br>
    <br><br>
    <br>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div *ngIf="!checkedClicked"><a class="navbar-brand" jhiTranslate="listProjet.projet" ></a> </div>
    <div *ngIf="checkedClicked"><a class="navbar-brand">{{toBeDeleted.length}} {{'listProjet.projetselect' | translate}}</a><span class="vertical-line"></span></div>


    <fa-icon title="{{'contact.supprimer' | translate }}" type="button" class="glyphicon fa-lg trash-alt"
             icon="trash-alt" [hidden]="!checkedClicked" style="margin-left: 240px"  (click)="delete()"></fa-icon>

    <div class="search">
        <div class="input-group form has-search">
            <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
            <input type="text" [(ngModel)]="beansFilter" (ngModelChange)="SortName()" class="form-control" placeholder="Search...">
        </div>

    </div>

    <div *ngIf="!checkedClicked" class="plusIcon" style="margin-left: 87%;">

        <button class="btn btn-primary btn-circle btn-circle-sm m-1" title="{{'contact.nouveau' | translate }}" (click)="show()"><em class="fa fa-plus"></em></button>

    </div>
    <div *ngIf="checkedClicked" class="plusIcon"  style="margin-left: 75.155%;">
        <button class="btn btn-primary btn-circle btn-circle-sm m-1" title="{{'contact.nouveau' | translate }}" (click)="show()"><em class="fa fa-plus"></em></button>

    </div>




</nav>

<table class="table ">
    <thead>
    <tr jhiSort predicate="oppName" [(ascending)]="NamesAscending" [callback]="SortName.bind(this)">
    <th><input type="checkbox" (change)="checkAll($event)"/></th>
    <th jhiSortBy="oppName"  scope="col" class="etat" jhiTranslate="listProjet.nom"></th>
    <th scope="col" class="etat" jhiTranslate="listProjet.type"></th>
    <th scope="col" class="etat" jhiTranslate="listProjet.compte"></th>
    <th scope="col" class="etat" jhiTranslate="listProjet.profil"></th>
    <th scope="col" class="etat" jhiTranslate="listProjet.date"></th>
    <th scope="col" class="etatstatut" jhiTranslate="listProjet.etat" >/th>


    </thead>

        <tr *ngFor="let p of projects  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  ;let i=index ">
            <th><input type="checkbox" (change)="checkOne()" [checked]="allButtonChecked" (click)="remove($event,i,trackId(i,p) )"/></th>
            <td  class="etat"><a  [routerLink]="[ '/myproject/projectdetails',p.id]"> {{p.oppName}} </a> </td>
            <td class="etat">{{p.oppType}}</td>
            <td class="etat"> {{p.company?.compName}}</td>
            <td class="etat">{{p.employee}}</td>
            <td class="etat"> {{p.projEndate}}</td>

            <td class="etat">
                <div class="flex">
                    <div *ngIf="p.stage?.stageName =='En cours'" class="stateTag">
                        <div class="tagFront approuved">
                            <span jhiTranslate="listProjet.cours"> </span>
                        </div>
                        <div class="tagFolded approuved"></div>
                    </div>
                    <div *ngIf="p.stage?.stageName =='Terminé'" class="stateTag">
                        <div class="tagFront cours">
                            <span jhiTranslate="listProjet.termine"> </span>
                        </div>
                        <div class="tagFolded cours"></div>

                    </div>
                    <div *ngIf="p.stage?.stageName =='Annulé'" class="stateTag">
                        <div class="tagFront cheked">
                            <span jhiTranslate="listProjet.annule"></span>
                        </div>
                        <div class="tagFolded cheked"></div>
                    </div>
                    <div *ngIf="p.stage?.stageName =='Nouveau'" class="stateTag">
                        <div class="tagFront processing">
                            <span jhiTranslate="listProjet.nouveau"></span>
                        </div>
                        <div class="tagFolded processing"></div>
                    </div>

                </div>
            </td>
            <td></td>


        </tr>






    <tbody>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>


    </tr>
    </tbody>
</table>
<div *ngIf="projects?.length > 0">
    <div class="d-flex justify-content-between p-2">
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 <a jhiTranslate="contact.element" ></a></option>
            <option [ngValue]="20">20 <a jhiTranslate="contact.element" ></a></option>
            <option [ngValue]="50">50 <a jhiTranslate="contact.element" ></a></option>
        </select>
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" class="ngb">
        </ngb-pagination>


    </div>
</div>

