.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #ffff #fff #fff;
  border-bottom: 3px solid #5c77ff;
}

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.navbar-nav > li {
  float: left;
  position: relative;
}

/*.navbar-nav a:hover {
    border-bottom: 3px solid #5c77ff
}
*/

.navbar-nav .active a:focus {
  border-bottom: 3px solid #5c77ff;
}

.navbar-light .navbar-nav .active a::after {
  border-bottom: 3px solid #5c77ff;
  bottom: -10px;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

.tagFront,
.tag-front-for-spanish-language {
  background: #7f9db9;
  height: 30px;
  position: relative;
  // left: 18px;
  //float: left;
  z-index: 18;
  color: #fff;
}

.tagFront {
  width: 130px;
  font-size: medium;
  padding-left: 20px;
  &.approuved {
    background: rgb(166, 192, 80);
  }
  &.cours {
    background: #1e7ee6;
  }
  &.cheked {
    background: #ff0000;
  }
  &.refunded {
    background: #607d8b;
  }
  &.processing {
    background: #f9a825;
  }
}
.etat {
  padding-left: 50px;
}
.etatstatut {
  padding-left: 150px;
}

.tagFolded {
  left: 121px;
  &.approuved {
    border-color: transparent rgb(166, 192, 80) transparent transparent;
  }
  &.cours {
    border-color: transparent #1e7ee6 transparent transparent;
  }
  &.cheked {
    border-color: transparent #ff0000 transparent transparent;
  }
  &.refunded {
    border-color: transparent #607d8b transparent transparent;
  }
  &.processing {
    border-color: transparent #f9a825 transparent transparent;
  }
}

.stateTag {
  margin-left: 43%;
}

.tagFolded,
.tag-folded-for-spanish-language {
  border-color: transparent #7d90a3 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: relative;
  top: -9px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 40%;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-color: #5c77ff;
}

.btn-circle em {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.plusIcon {
  margin-left: 87%;
}

.trash-alt {
  color: #5c77ff;
}

input[type='checkbox'] {
  position: relative;
  width: 1em;
  height: 1em;
  color: #363839;
  border: 1px solid #363839;
  appearance: none;
  outline: 0;
  cursor: pointer;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    left: 4px;
    width: 4px;
    height: 10px;
    border-style: solid;
    border-color: #ffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: #ffff;
    border-color: #5c77ff;
    background: #5c77ff;
    &::before {
      opacity: 1;
    }
  }
}

h5 {
  display: inline;
}

header {
  padding-left: 50px;
}

.has-search .form-control {
  padding-left: 8rem;
  padding: 0.1rem 8rem;
}

.search {
  padding-left: 0.1rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}

.fa-search {
  color: #000;
}

.tab-pane {
  width: 1000px;
}

.table {
  background-color: #ffff;
}
