<form *ngIf="phone" name="deleteForm" (ngSubmit)="confirmDelete(phone?.id!)">
   

    <div class="modal-body">
        
        <jhi-alert-error></jhi-alert-error>
       

        <p > Voulez-vous vraiment supprimer ce téléphone ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button id="jhi-confirm-delete-Phone" type="submit"class="btn btn-primary">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>Confirmer</span>
        </button>
    </div>
</form>
