
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="modal-header">
            <h2 *ngIf="create">Ajouter Téléphone</h2>
            <h2 *ngIf="!create">Modifier Téléphone</h2>


        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        (click)="cancel()">&times;</button>

        </div>



            <div class ="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
              <div *ngIf="codePhone" class="codePhone">{{codePhone}}</div>

                <div class="form-group col-md-12">



                    <input type="text" class="form-control bg-light" name=" phoneNumber" id="field_name"
                           formControlName="phoneNumber" [ngClass]="{ 'is-invalid': editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)  }"/>
                    <span class="placeholder">Téléphone <span class="star">*</span></span>

                    <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)" >





                        <small class="form-text text-danger"
                        *ngIf="editForm.get('phoneNumber')?.errors">
                        Saisir un numéro téléphone valide
                 </small>

                    </div>

                </div>
            </div>

                <div class="form-group">

                    <ng-select formControlName="phoneType"
                    [items]="phoneTypes" bindLabel="name" class="customNgSelect"
                     bindValue="name"
                      >

              </ng-select>
                    <span class="placeholder">Type</span>


                </div>



            </div>

            <div class="modal-footer">


                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                   &nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>

