<div>
    <h6 id="page-heading">

        <div class="plusIcon">

            <fa-icon class="glyphicon fa-lg  btn  btn-circle btn-circle-sm m-1" style="color: #5c77ff; " icon="plus" type="button" title="{{'adresse.ngbTooltip.ajout' | translate }}" (click)="update()"></fa-icon>

        </div>



    </h6>
    <!--  test  -->
    <!--  <jhi-alert-error></jhi-alert-error>  -->

    <!-- <jhi-alert></jhi-alert>  -->

    <div id="no-result" *ngIf="phones?.length === 0">
        <span>Pas de contacts téléphoniques </span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="phones?.length > 0">
        <table class="table " aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col">
                        <h6 jhiTranslate="telephone.title">Adresse</h6>

                    </th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phone of phones ;trackBy: trackId">

                    <td>{{ phone.phoneNumber }}</td>

                    <td>{{ phone.phoneType }}</td>
                    <td class="text-right">
                        <div class="btn-group">



                            <fa-icon icon="pencil-alt" (click)="update(phone)" style="color: #5c77ff; " ngbTooltip="Editer" container="body">
                            </fa-icon>
                            &nbsp; &nbsp; &nbsp;


                            <fa-icon icon="trash-alt" (click)="delete(phone)" style="color: #5c77ff; " ngbTooltip="Supprimer" container="body">
                            </fa-icon>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
