<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
        <h2 jhiTranslate="email.ajout">Ajouter Email</h2>


        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>

    </div>



    <div class="modal-body">
        <!--  <jhi-alert-error></jhi-alert-error>-->



        <div class="form-group">

            <div class="inner-addon left-addon form-group">

                <input type="text" formControlName="email" class="form-control bg-light" [ngClass]="{ 'is-invalid': !isSaving && f.email.errors }"  />
                    <span class="placeholder"> Adresse courriel</span>

                <div *ngIf="!isSaving && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email">adresse email non valide
                    </div>
                </div>

            </div>

            <div class="form-group">

                <ng-select formControlName="emailType" [items]="type" bindLabel="name" bindValue="name" class="customNgSelect">

                </ng-select>
                <span class="placeholderSelect"> Type</span>





            </div>



        </div>

        <div class="modal-footer">
            <!-- <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>-->

            <button type="submit" id="save-entity" [disabled]="editForm.invalid  || isSaving" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="email.message.enregister">Enregistrer</span>
        </button>

        </div>
</form>
