<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="card" style="width: 14rem;">



                                <span href="#" class="list-group-item ">
                                    <div class="profile-userpic  text-center">
                                        <img src="/content/images/user.png" class="img-responsive" alt="">
                                    </div>

                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            {{contact.persLastName}} {{contact.infoName}}
                                        </div>
                                        <div class="profile-usertitle-job">
                                            {{contact.persFonction}}
                                        </div>
                                        <div class="profile-userbuttons">
                                            <button type="button" class="btn  btn-secondary  btn-sm">
                                                <fa-icon icon="star"></fa-icon>
                                            </button>
                                            <button type="button" class="btn  btn-secondary btn-sm">
                                               <fa-icon icon="thumbtack"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </span>
                <ul class="list-group ">

                    <li class="list-group-item" href="#" (click)=displayResume()
                        [ngStyle]="{'background-color': buttonColorResume}">

                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="activate.resume"></span>

                    </li>


                    <li class="list-group-item" href="#" (click)=displayCoordonne()
                        [ngStyle]="{'background-color': buttonColorCoordonne}">


                        <fa-icon icon="address-book"></fa-icon>
                        <span jhiTranslate="activate.coordonee"></span>
                    </li>

                    <li class="list-group-item" href="#">

                        <fa-icon icon="search"></fa-icon>
                        <span jhiTranslate="activate.opportunite"></span>
                    </li>

                    <li class="list-group-item" href="#">
                        <fa-icon icon="folder-open"></fa-icon>
                        <span jhiTranslate="activate.projets"></span>
                    </li>

                    <li class="list-group-item" href="#">
                        <fa-icon icon="phone"></fa-icon>
                        <span jhiTranslate="activate.communication"></span>

                    </li>


                    <li class="list-group-item" href="#">
                        <fa-icon icon="envelope"></fa-icon>
                        <span jhiTranslate="activate.avance"></span>

                    </li>

                </ul>
                <div class="card-body">
                    <a *ngIf="facebookUrl" href="{{facebookUrl.url}}" id="facebook" class="fab fa-facebook"></a>
                    <a *ngIf="linkedInUrl" href="{{linkedInUrl.url}}" id="lin" class="fab fa-linkedin"></a>
                    <a *ngIf="twitterUrl" href="{{twitterUrl.url }}" id="twitter" class="fab fa-twitter-square"></a>

                </div>
            </div>


        </div>

        <!-- debut resume-->
        <div [hidden]="resume" class=" col-md-8">


            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">


                <ngb-panel>
                    dadada
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.profile">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <fa-icon icon="pencil-alt" aria-hidden="true"
                                 style="margin-left:650px ; cursor: pointer;" (click)="update(contact)"
                                 title="Modifier" data-toggle="tooltip"></fa-icon>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail" jhiTranslate="profil.prenom">Nom:</label> </div>
                                <div class=" col-md-3"><label >{{contact.persLastName}}</label> </div>
                                <div class=" col-md-3"><label class="labeldetail" jhiTranslate="profil.nom">Montant:</label> </div>
                                <div class="  col-md-3"><label >{{contact.infoName}}</label> </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail" jhiTranslate="profil.fonction">Nom:</label> </div>
                                <div class=" col-md-3"><label >{{contact.perFonction}}</label> </div>
                                <div class=" col-md-3"><label class="labeldetail" jhiTranslate="profil.departemnt">Montant:</label> </div>
                                <div class="  col-md-3"><label >{{contact.persDepartement}}</label> </div>

                            </div>


                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail" jhiTranslate="profil.compte">Nom:</label> </div>
                                <div class=" col-md-3"><label >{{contact.company?.infoName}}</label> </div>
                                <div class=" col-md-3"><label class="labeldetail" jhiTranslate="profil.naissance">Montant:</label> </div>
                                <div class="  col-md-3"><label >{{contact.persBirthDate}}</label> </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3"><label class="labeldetail" jhiTranslate="profil.prospect">Nom:</label> </div>
                                <div class=" col-md-3"><label >{{contact.contactLeadOrigin}}</label> </div>

                            </div>



                        </div>




                    </ng-template>
                </ngb-panel>


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.chargeAffaire">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                    </ng-template>
                </ngb-panel>


                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.commentaires">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                    </ng-template>
                </ngb-panel>


            </ngb-accordion>


        </div>

        <!-- Fin resumee -->


        <div [hidden]="coordonne" class="col-md-8">

            <ngb-accordion>
                <!-- adresse -->
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.adresse">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>

                        <jhi-adresse [InfoId]="contact.id"></jhi-adresse>
                    </ng-template>

                </ngb-panel>
                <!-- phone -->

                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.tel">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                        <jhi-phone [infoId]="contact.id"></jhi-phone>
                    </ng-template>

                </ngb-panel>


                <!-- email -->

                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.email">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                        <jhi-email [infoId]="contact.id"></jhi-email>
                    </ng-template>

                </ngb-panel>

                <!-- resau social -->

                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0" jhiTranslate="activate.reseau">

                        </h6>

                        <fa-icon class="arrowLeft" icon="angle-down"></fa-icon>


                    </ng-template>
                    <ng-template ngbPanelContent>


                        <jhi-profil infoId="{{contact.id}}"></jhi-profil>
                    </ng-template>

                </ngb-panel>


            </ngb-accordion>
        </div>


    </div>


    <!--Accordion wrapper-->
