<div class="footer">

    <div>
          <a jhiTranslate="team"></a>
            <a jhiTranslate="like"> Contact us</a>

    <a href="https://www.linkedin.com/company/the-team-consulting/" target="_blank" rel="noopener noreferrer" jhiTranslate="linkedin">LinkedIn</a>
    </div>