<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
</div>
<div>
    <jhi-sidebar></jhi-sidebar>
</div>
<!--<div class="footer">
    <jhi-footer class="footer"></jhi-footer>
</div>-->