

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"   jhiTranslate="opportunity.title" >Opportunités</a> &nbsp;
    <fa-icon class="glyphicon fa-lg upload" icon="upload" [hidden]="true" ></fa-icon>
    <fa-icon class="glyphicon fa-lg trash-alt" icon="trash-alt" [hidden]="!checkedClicked" ngbTooltip="{{ 'opportunity.ngbTooltip.supprimer' | translate}}"  placement="bottom" (click)="delete()"></fa-icon>
    <fa-icon class="glyphicon fa-lg adress-card" icon="address-card" [hidden]="true" ></fa-icon>




    <div class="search">
        <div class="input-group form has-search">
            <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
            <input type="text" [(ngModel)]="beansFilter" (ngModelChange)="filterAndSortBeans()" class="form-control" placeholder="        Search...">
        </div>

    </div>



    <fa-icon class="glyphicon fa-lg filter " icon="filter" [hidden]="true"></fa-icon>
    <fa-icon class="glyphicon fa-lg download " icon="download"  [hidden]="true"></fa-icon>


    <div class="plusIcon">

        <fa-icon class="glyphicon fa-lg  btn btn-primary btn-circle btn-circle-sm m-1"
                 icon="plus" type="button" ngbTooltip="{{'opportunity.ngbTooltip.nouveau' | translate }}" (click)="show()"></fa-icon>

    </div>





</nav>

<div class="table-responsive" class="table-responsive" id="opportunities" *ngIf="beans?.length > 0">
<table  class="table " aria-describedby="page-heading">

    <thead>
    <tr jhiSort predicate="oppName" [(ascending)]="beansAscending" [callback]="filterAndSortBeans.bind(this)">
        <th><input type="checkbox" (change)="checkAll($event)" /></th>
        <th jhiSortBy="oppName" scope="col" id="nom" jhiTranslate="opportunity.table.nom" > <span>Nom </span> <fa-icon [icon]="'sort'"></fa-icon></th>
        <th scope="col"  id="valeurOpportunite" jhiTranslate="opportunity.table.valeurOpportunite">Valeur de l'opportunité</th>
        <th scope="col" id="etape" jhiTranslate="opportunity.table.etape">Etape</th>
        <th scope="col" id="dateCloture" jhiTranslate="opportunity.table.dateCloture" >Date de cloture</th>

        <th scope="col" id="compte"  jhiTranslate="opportunity.table.compte">Compte</th>
        <th scope="col" id="contact" jhiTranslate="opportunity.table.contact" >Contact</th>


    </tr>
    </thead>
    <tbody>


        <tr *ngFor="let opp of beans  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  ;let i=index ">
            <td><input type="checkbox" (change)="checkOne()" [checked]="allButtonChecked" (click)="remove($event,i,trackId(i,opp) )"/></td>


           <td> <a href="myopportunity/opportunitydetails/{{opp.id}}">{{opp.oppName}}</a></td>
		   <td>{{opp.oppValue |  number}} {{opp?.currency?.currName}}</td>
		    <td>{{opp.stage?.stageName}}</td>
			 <td>{{opp.projEndate}}</td>


               <td>{{opp.company?.compName}}</td>
               <td>{{opp.contact?.infoName}}</td>

        </tr>





    </tbody>

</table>
</div>


<div *ngIf="beans?.length > 0">
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" class="ngb">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="10" jhiTranslate="opportunity.elements10">10 éléments par page</option>
          <option [ngValue]="20"  jhiTranslate="opportunity.elements20">20 éléments par page</option>
          <option [ngValue]="50"  jhiTranslate="opportunity.elements50">50 éléments par page</option>
        </select>
      </div>
</div>








