.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #ffff #fff #fff;
  border-bottom: 3px solid #5c77ff;
  background-color: #f2f1f1;
}

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar-nav .active a:focus {
  border-bottom: 3px solid #5c77ff;
}

.navbar-light .navbar-nav .active a::after {
  border-bottom: 3px solid #5c77ff;
  bottom: -10px;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

.tagFront .tag-front-for-spanish-language span {
  font-size: 18px;
  color: #fff;
  margin-top: 6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tagFront,
.tag-front-for-spanish-language {
  background: #7f9db9;
  height: 30px;
  position: relative;
  left: 24px;
  float: right;
  z-index: 18;
  color: #fff;
  box-shadow: 0px 0px 4px #888888;
}

.tagFront {
  width: 130px;
  font-size: medium;
  &.approuved {
    background: rgb(166, 192, 80);
  }
  &.cours {
    background: #1e7ee6;
  }
  &.cheked {
    background: #7b1fa2;
  }
  &.refunded {
    background: #607d8b;
  }
  &.processing {
    background: #f9a825;
  }
}

.tagFolded {
  border-style: solid;
  border-width: 10px;
  position: relative;
  top: 20px;
  transform: rotate(180deg);
  opacity: 40%;
}

.tagFolded {
  left: 62px;
  &.approuved {
    border-color: transparent rgb(166, 192, 80) transparent transparent;
  }
  &.cours {
    border-color: transparent #1e7ee6 transparent transparent;
  }
  &.cheked {
    border-color: transparent #7b1fa2 transparent transparent;
  }
  &.refunded {
    border-color: transparent #607d8b transparent transparent;
  }
  &.processing {
    border-color: transparent #f9a825 transparent transparent;
  }
}

.stateTag {
  margin-left: 60%;
}

.block {
  box-shadow: 1px 1px 5px #888888;
  width: 1020px;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-color: #5c77ff;
}

.btn-circle em {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.trash-alt {
  color: #5c77ff;
  margin-left: 25%;
}

input[type='checkbox'] {
  position: relative;
  width: 1em;
  height: 1em;
  color: #363839;
  border: 1px solid #363839;
  appearance: none;
  outline: 0;
  cursor: pointer;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    left: 4px;
    width: 4px;
    height: 10px;
    border-style: solid;
    border-color: #ffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: #ffff;
    border-color: #5c77ff;
    background: #5c77ff;
    &::before {
      opacity: 1;
    }
  }
}

h6 {
  display: inline;
}

header {
  padding-left: 1000px;
}

.has-search .form-control {
  padding-left: 8rem;
  padding: 0.1rem 8rem;
}

.search {
  padding-left: 0.1rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}

.fa-search {
  color: #000;
}

.pt-1,
.py-1,
.tab-content {
  padding-top: 3rem !important;
  background-color: #f3f3f6;
  padding-left: 45px;
  height: 850px;
}

.tab-pane {
  padding-left: 50px;
}

.card-body {
  -webkit-box-flex: 1;
  padding: 0rem;
}

.plusIcon {
  margin-left: 90%;
  position: absolute;
}

.nav-tabs {
  padding-left: 100px;
}

.vertical-line {
  border-left: 1px solid #e8e8ce;
  display: inline-block;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
  height: 30px;
  margin: 0px 14px;
  vertical-align: middle;
}

.table th {
  width: auto !important;
}
fa-icon {
  cursor: pointer;
}

.a {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
}

.home {
  text-decoration: none;
  color: #000000;
}
.status {
  background-color: #5cb85c;
  color: white;
}
@media only screen and (max-width: 700px) {
  .has-search .form-control {
    padding: 0px;
  }
  .form-control {
    padding-right: 50px;
  }
}

.lastCol {
  position: absolute;
  margin-left: 50px;
}

.table {
  background-color: #ffff;
}
