
<div class="modal-header">
      <h4 class="modal-title">Nouveau Compte</h4>

      <button aria-label="Close" data-dismiss="modal" class="close" type="button"
            (click)="activeModal.dismiss('closed')">
            <span aria-hidden="true">x</span>
      </button>
</div>
<div class="modal-body">
      <form [formGroup]="compteForm" (ngSubmit)="save()">
            <div class="row">
                  <!--Company-->
                  <div class="col-sm-6">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="user"></fa-icon>
                              <input type="text" formControlName="infoName" class="form-control bg-light "
                                    [ngClass]="{ 'is-invalid': submitted && f.infoName.errors }" placeholder="Nom*" />

                              <div *ngIf="f.infoName!.invalid" class="invalid-feedback">
                                    <div *ngIf="f.infoName?.errors?.required">Ce champ est obligatoire</div>
                              </div>
                        </div>
                  </div>

                  <div class="col-sm-6">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="id-card"></fa-icon>
                              <input type="text" formControlName="compTva" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': submitted && f.compTva.errors}"
                                    placeholder="Numéro TVA*" />
                              <div *ngIf="f.compTva!.invalid" class="invalid-feedback">
                                    <div *ngIf="f.compTva?.errors?.required">
                                          Ce champ est obligatoire
                                    </div>
                              </div>
                              <div *ngIf="tvaerror" class="errortva">Numéro TVA existe déjà</div>
                        </div>

                  </div>

                  <div class="col-sm-6">
                        <div class="inner-addon left-addon form-group">

                              <ng-select formControlName="compType" class="custom bg-light" [items]="company"
                                    bindLabel="name" placeholder="Type*" bindValue="compType"
                                    [(ngModel)]="selectedType" [virtualScroll]="true">

                              </ng-select>
                        </div>
                  </div>

                  <div class="col-sm-6">
                        <div class="inner-addon left-addon form-group">
                              <ng-select formControlName="activity" class="custom bg-light" [items]="activities"
                                    bindLabel="actiAreaName" placeholder="Activité" bindValue="id"
                                    [virtualScroll]="true">
                              </ng-select>

                        </div>
                  </div>

                  <div class="col-sm-12">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="pen"></fa-icon>
                              <input type="text" formControlName="infoDesc" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': submitted && f.infoDesc.errors }"
                                    placeholder="Description" />
                              <!-- <div *ngIf="submitted && f.infoDesc.errors" class="invalid-feedback">
                                    <div *ngIf="f.infoDesc.errors.required">infoDesc is required</div>
                              </div> -->
                        </div>
                  </div>
                  <!--Adresse-->
                  <div class="col-sm-12">
                        <hr />
                        <h6 class="ml-5">Adresse</h6>
                  </div>

                  <div class="col-sm-12">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="map-marker"></fa-icon>
                              <input type="text" formControlName="adr1" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': submitted && f.dr1.errors }" placeholder="Adresse" />
                             <!--  <div *ngIf="submitted && f.adr1.errors" class="invalid-feedback">
                                    <div *ngIf="f.adr1.errors.required">Adresse is required</div>
                              </div> -->
                        </div>
                  </div>


                  <div class="col-sm-12">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="map-marker"></fa-icon>
                              <input type="text" formControlName="adr2" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': submitted && f.adr2.errors }"
                                    placeholder="Adresse complémentaire" />
                              <!-- <div *ngIf="submitted && f.adr2.errors" class="invalid-feedback">
                                    <div *ngIf="f.adr2.errors.required">Adresse is required</div>
                              </div> -->
                        </div>
                  </div>

                  <div class="col-sm-4">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="search-location"></fa-icon>
                              <input type="text" formControlName="codeZip" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': submitted && f.codeZip.errors }"
                                    placeholder="Code Postale" />
                             <!--  <div *ngIf="submitted && f.codeZip.errors" class="invalid-feedback">
                                    <div *ngIf="f.codeZip.errors.required">Code Postale est obligatoire
                                    </div> -->
                              </div>
                        </div>



                  <div class="col-sm-4">
                        <div class="inner-addon left-addon form-group">
                              <ng-select formControlName="pays" class="custom bg-light" [items]="countries"
                                    bindLabel="countName" placeholder="Pays " bindValue="id"
                                    [(ngModel)]="selectedCity" [virtualScroll]="true" (change)="onSelect()">
                              </ng-select>

                        </div>
                  </div>

                  <div class="col-sm-4">
                        <ng-select formControlName="ville" class="custom" [items]="states" bindValue="id"
                              bindLabel="cityName" placeholder="Région">
                        </ng-select>
                  </div>



                  <div class="col-sm-12">
                        <div class="inner-addon left-addon form-group">
                              <fa-icon class="glyphicon" icon="envelope"></fa-icon>
                              <input type="text" formControlName="email" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': !submitted && f.email.errors }"
                                    placeholder="Courriel " />
                              <div *ngIf="!submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.email">adresse email non valide
                                    </div>
                              </div>

                        </div>


                  </div>
                  <div class="col-sm-2">
                        <p class="codePhone " *ngIf="country" formControlName="codePhone">{{country.codePhone}}</p>
                  </div>
                  <div class="col-sm-10">

                        <div class="inner-addon left-addon form-group">
                              <input type="text" formControlName="phone" class="form-control bg-light"
                                    [ngClass]="{ 'is-invalid': !submitted && f.phone.errors }"
                                    placeholder="Téléphone" />
                              <div *ngIf="!submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors">numéro téléphone non valide</div>

                              </div>
                        </div>
                  </div>
            </div>

            <div style="height: 10px;"></div>
            <button type="submit" style="margin-left: 170px; " class="btn btn-primary "
                  [disabled]="!f.infoName.valid">Enregistrer et nouveau</button>

            <button type="submit" class="btn btn-primary   " (click)="onClickMe()"
                  [disabled]="!f.infoName.valid">Enregister </button>





      </form>
      <div style="height: 30px;"></div>
</div>

