<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
        <h2 *ngIf="create" jhiTranslate="adresse.ajout">Ajouter Adresse</h2>
        <h2 *ngIf="!create" jhiTranslate="adresse.modifier">Ajouter Adresse</h2>


        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>

    </div>


    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="row">


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="adr1" class="form-control bg-light"
                           [ngClass]="{ 'is-invalid': isSaving && f.adr1.errors }"/>

                    <span class="placeholder">1ére ligne d'adresse <span class="star">*</span></span>
                    <div *ngIf="isSaving && f.adr1.errors" class="invalid-feedback">
                        <div *ngIf="f.adr1.errors.required">Adresse is required</div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="inner-addon left-addon form-group">

                    <input type="text" formControlName="adr2"
                           class="form-control bg-light"
                           [ngClass]="{ 'is-invalid': isSaving && f.adr2.errors }"/>

                    <span class="placeholder">2éme ligne d'adresse </span>


                    <div *ngIf="isSaving && f.adr2.errors" class="invalid-feedback">
                        <div *ngIf="f.adr2.errors.required">Adresse is required</div>
                    </div>
                </div>
            </div>


            <div class="form-group col-md-4">
                <input type="text" class="form-control bg-light" name="codeZip" id="field_codeZip"
                       formControlName="codeZip"
                       [ngClass]="{ 'is-invalid': editForm.get('codeZip')!.invalid && (editForm.get('codeZip')!.dirty || editForm.get('codeZip')!.touched)  }"
                />

                <span class="placeholder">Code postale</span>


                <div
                    *ngIf="editForm.get('codeZip')!.invalid && (editForm.get('codeZip')!.dirty || editForm.get('codeZip')!.touched)">


                    <small class="form-text text-danger" *ngIf="editForm.get('codeZip')?.errors">
                        Saisir code postale valide
                    </small>

                </div>

            </div>


            <div class="form-group col-md-4">

                <ng-select formControlName="country" class="customNgSelect" [(ngModel)]="selectedCity"
                           (change)="onSelect()">
                    <ng-option [value]="item.id" *ngFor="let item of countries">
                        {{item.countName}}
                    </ng-option>
                </ng-select>
                <span class="placeholderSelect"> Pays</span>

            </div>


            <div class="form-group col-md-4">

                <ng-select formControlName="city" class="custom bg-light" class="customNgSelect" [(ngModel)]="selected"
                           (change)="onSelectCity()">
                    <ng-option [value]="item.id" *ngFor="let item of states">
                        {{item.cityName}}
                    </ng-option>
                </ng-select>

                <span class="placeholderSelect"> Ville</span>
            </div>

        </div>

        <div class="form-group">

            <ng-select formControlName="adresseType" class="customNgSelect"
                       [items]="type" bindLabel="name" bindValue="name">

            </ng-select>
            <span class="placeholderSelect">Type</span>


        </div>


    </div>

    <div class="modal-footer">
        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <span jhiTranslate="adresse.message.enregister">Enregistrer</span>
        </button>
    </div>
</form>

