<div class="modal-header">
    <h4 *ngIf="create" class="modal-title" jhiTranslate="projet.nouveauProjet"></h4>
    <h4 *ngIf="!create" class="modal-title">{{opportunity?.oppName}}</h4>
    <a data-dismiss="modal" class="close" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </a>
</div>

<div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <!-- Nom de projet -->

            <div>
                <div class="inner-addon  form-group ">

                    <input type="text" formControlName="nom" style="box-shadow : none ;"
                           class="form-control bg-light "
                           [ngClass]="{ 'is-invalid':  registerForm.get('nom')!.invalid && ( registerForm.get('nom')!.dirty ||  registerForm.get('nom')!.touched)  }"


                    />

                    <span class="placeholder" jhiTranslate="opportunity.name"><span
                        class="star">*</span></span>
                    <div
                        *ngIf="registerForm.get('nom')!.invalid && (registerForm.get('nom')!.dirty || registerForm.get('nom')!.touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('nom')?.errors"
                               jhiTranslate="opportunity.champsObligatoire">
                            Merci de saisir un nom
                        </small>

                    </div>


                </div>
                <br>


                <!-- compte -->

                <div>
                    <div class="inner-addon  form-group ">

                        <ng-select formControlName="compte" class="custom bg-light" [items]="companies"
                                   bindLabel="compName" bindValue="id"
                                   [virtualScroll]="true" required>
                        </ng-select>

                        <span class="placeholderSelectCompte" jhiTranslate="projet.compte">Compte <span
                            class="star">*</span></span>


                        <div
                            *ngIf="registerForm.get('nom')!.invalid && (registerForm.get('nom')!.dirty || registerForm.get('nom')!.touched)">


                            <small class="text-danger" *ngIf="registerForm.get('nom')?.errors"
                                   jhiTranslate="opportunity.champsObligatoire">
                                Merci de saisir un nom
                            </small>

                        </div>

                    </div>

                </div>
                <br>

                <!-- date de debut -->

                <div>
                    <div class="inner-addon  form-group ">

                        <input type="date" formControlName="dateDebut"
                               class="form-control bg-light " style="height:48px;"
                        />


                        <span class="placeholder" jhiTranslate="projet.deteDebut"><span class="star">*</span></span>
                        <div
                            *ngIf="registerForm.get('nom')!.invalid && (registerForm.get('nom')!.dirty || registerForm.get('nom')!.touched)">
                            <small class="form-text text-danger" *ngIf="registerForm.get('nom')?.errors"
                                   jhiTranslate="opportunity.champsObligatoire">
                                Merci de saisir un nom
                            </small>
                        </div>
                    </div>

                </div>
                <br>

                <!-- date d'échéance -->

                <div>
                    <div class="inner-addon  form-group ">

                        <input type="date" formControlName="dateEcheance"
                               class="form-control bg-light "/>


                        <span class="placeholder" jhiTranslate="projet.deteEcheance">Date d'échéance</span>
                    </div>

                </div>
                <br>


                <!-- priorite -->

                <div>
                    <div class="inner-addon  form-group ">

                        <ng-select formControlName="priorite" class="custom bg-light" [items]="itemsPriorite"
                                   bindLabel="infoName" bindValue="id"
                                   [virtualScroll]="true" required>
                        </ng-select>

                        <span class="placeholderSelectCompte" jhiTranslate="projet.priorite"></span>


                        <div
                            *ngIf="registerForm.get('compte')!.invalid && isSaving">


                            <small class="form-text text-danger" *ngIf="registerForm.get('compte')?.errors"
                                   style="margin-top: 20px;">
                                Merci de saisir un nom
                            </small>

                        </div>

                    </div>

                </div>
                <br>


                <!-- etat -->

                <div>
                    <div class="inner-addon  form-group ">

                        <ng-select formControlName="etat" class="custom bg-light" [items]="itemsEtat"
                                   bindLabel="etatNom" bindValue="id"
                                   [virtualScroll]="true" required>
                        </ng-select>

                        <span class="placeholderSelectCompte" jhiTranslate="projet.etat">Etat </span>


                    </div>

                </div>
                <br>
                <!-- Montant du projet -->
                <div>
                    <div class="row">

                        <div class="inner-addon form-group  ">
                            <div class="col-sm-12" style="padding-left: 0; padding-right: 0px; margin-left: 15px">
                                <input type="text" formControlName="montant"
                                       class="form-control bg-light "

                                />

                                <span class="placeholder" jhiTranslate="projet.montant"></span>
                                <div
                                    *ngIf="registerForm.get('montant')!.invalid && isSaving">


                                    <small class="form-text text-danger" *ngIf="registerForm.get('montant')?.errors">
                                        Merci de saisir un nom
                                    </small>

                                </div>
                            </div>
                        </div>

                        <!-- Currency -->

                        <div class="col-md-6" style="padding-left: 0px; margin-left: 15px">
                            <div class="inner-addon  form-group  ">
                                <ng-select formControlName="currency" class="custom1" [items]="currencies"
                                           bindLabel="currName" bindValue="id"
                                           [virtualScroll]="true">

                                </ng-select>
                                <span class="placeholderSelect" jhiTranslate="projet.devise"></span>
                            </div>

                        </div>


                    </div>


                </div>
            </div>

            <div class="modal-footer">
            <button *ngIf="this.create" type="submit" class="btn btn-primary "
                    [disabled]="!f.nom.valid" jhiTranslate="projet.enregistreNouveau">
                Enregistrer et nouveau
            </button>
            <button *ngIf="this.create" type="submit" class="btn btn-primary " (click)="onClickMe()"
                    [disabled]="!f.nom.valid" jhiTranslate="projet.enregistrer">
                Enregister
            </button>
            </div>
            <div class="modal-footer">
            <button *ngIf="!this.create"  type="submit" class="btn btn-primary   "
                    (click)="onClickMe()" [disabled]="!f.nom.valid"
                    jhiTranslate="projet.enregistrer">
                Enregister
            </button>
            </div>

        </div>
    </form>


</div>
