<form *ngIf="adresse" name="deleteForm" (ngSubmit)="confirmDelete(adresse?.id!)">


    <div class="modal-body">

        <!-- <jhi-alert-error></jhi-alert-error>-->


        <p jhiTranslate="adresse.message.supprimerMsg"> Voulez-vous vraiment supprimer cette adresse ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="adresse.message.annuler">Annuler</span>
        </button>

        <button id="jhi-confirm-delete-Phone" type="submit" class="btn btn-primary">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="adresse.message.confirmer">Confirmer</span>
        </button>
    </div>
</form>