<div>
    <h6 id="page-heading">
        <span ></span>

        <div class="plusIcon">

            <fa-icon class="glyphicon fa-lg  btn  btn-circle btn-circle-sm m-1" style="color: #5c77ff; " icon="plus" type="button" ngbTooltip="{{'adresse.ngbTooltip.ajout' | translate }}" (click)="update()"></fa-icon>

        </div>





    </h6>
    <!--  test  -->
    <!--  <jhi-alert-error></jhi-alert-error>  -->

    <!-- <jhi-alert></jhi-alert>  -->

    <div class="alert alert-light" id="no-result" *ngIf="adresses?.length === 0">
        <span jhiTranslate="adresse.message.alert">Pas d'adresses </span>
    </div>


    <div class="table-responsive" id="entities" *ngIf="adresses?.length > 0">
        <table class="table " aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col">
                        <h6 jhiTranslate="adresse.title">Adresse</h6>
                    </th>
                    <th scope="col">
                        <h6>Type </h6>
                    </th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let adresse of adresses ;trackBy: trackId">

                    <td>{{getAdresse(adresse)}}</td>
                    <td>{{ adresse.adrType }}</td>


                    <td class="text-right">
                        <div class="btn-group">
                            <fa-icon class="pencil" icon="pencil-alt"  (click)="update(adresse)" style="color: #5c77ff; " ngbTooltip="{{'adresse.ngbTooltip.misAjour' | translate }}" container="body">
                            </fa-icon>
                            &nbsp; &nbsp; &nbsp;


                            <fa-icon icon="trash-alt"  (click)="delete(adresse)" style="color: #5c77ff; " ngbTooltip="{{'adresse.ngbTooltip.supprimer' | translate }}" container="body">
                            </fa-icon>
                            &nbsp; &nbsp; &nbsp;

                            <a href="https://www.google.com/maps/search/{{adresse.adr1}}+{{adresse.adr2}}+{{adresse.codeZip}}+{{adresse.city?.cityName}}+{{adresse.country?.countName}}">


                                <fa-icon icon="map-marker-alt"  style="color: #5c77ff; " ngbTooltip="{{'adresse.ngbTooltip.maps' | translate }}"> </fa-icon> </a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
